body{
    background: white;
    font-family: Tahoma;
    margin: 0px;
   
}
.topnav .left{
    float: left;
}
.topnav .left:hover{
    border-bottom: white;
}
.topnav{overflow:hidden;
    background-color:#F9F9F9;
     margin-top: 0px;
}
.topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 17px 30px;
    text-decoration: none;
    font-family: monospace;
    font-size: 20px;
  }
  
  .topnav a:hover {
    border-bottom: 3px solid#afa6fc;
  }
  
  .topnav a.active {
    border-bottom: 3px solid#afa6fc;
  }
  .pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;

  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    font-family: monospace;
    font-size: 100px;
    color: #afa6fc;
  }